html, body {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('Images/blackback2.jpg');
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.122);
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-size: 16px;
}

.menu-icon {
  display: none;
}

nav {
  display: flex;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a.active {
  background-color: white;
  color: black;
}

@media (max-width: 375px) {
  .header-content {
      flex-direction: column;
      align-items: center;
  }

  h1 {
      margin-top: 10px;
      font-size: 14px;
  }

  .menu-icon {
      display: block;
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.5);
      position: relative;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
  }

  .menu-icon::before,
  .menu-icon::after {
      content: "";
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 20px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease-in-out;
  }

  .menu-icon::before {
      transform: translate(-50%, -70%);
  }

  .menu-icon::after {
      transform: translate(-50%, -30%);
  }

  #menu-toggle {
      display: none;
  }

  #menu-toggle:checked + .menu-icon::before {
      transform: translate(-50%, -50%) rotate(-45deg);
  }

  #menu-toggle:checked + .menu-icon::after {
      transform: translate(-50%, -50%) rotate(45deg);
  }

  #menu-toggle:checked ~ nav {
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
  }

  #menu-toggle:checked ~ nav a {
      display: block;
      margin: 10px;
  }
}
